{% extends 'ProjectModel/extras/base.html' %}
{% load static %}

{% block content %}
<!-- Home -->
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero" src={{ home.image.url }}>
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-2 font-medium text-gray-900">{{ home.title }}</h1>
            <h2 class="text-xs text-red-500 tracking-widest font-medium title-font mb-4">{{ home.subtitle | upper }}</h2>
            <div class="mb-8 leading-relaxed">{{ home.description | safe }}</div>
            <div class="flex justify-center">
                <button class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Button</button>
                <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
            </div>
        </div>
    </div>
</section>

<!-- Category -->
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-2">Categories</h1>
            <h2 class="text-xs text-red-500 tracking-widest font-medium title-font mb-4">THESE ARE OUR CATEGORIES FOR PRODUCTS</h2>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p>
        </div>

        <div class="flex flex-wrap -m-4 justify-center">
            {% for category in categories %}
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src={{ category.image.url }}>
                </a>
                <div class="mt-4 text-center">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ category.subtitle | upper }}</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">{{ category.title }}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Featured Products -->
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-2">Featured Products</h1>
            <h2 class="text-xs text-red-500 tracking-widest font-medium title-font mb-4">THESE ARE OUR FEATURED PRODUCTS</h2>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p>
        </div>

        <div class="flex flex-wrap -m-4 justify-center">
            {% for product in featured_products %}
            <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src={{ product.image.url }} alt="blog">
                    <div class="p-6">
                        <h2 class="tracking-widest text-xs title-font font-medium text-red-400 mb-1">{{ product.category.title | upper }}</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ product.title }}</h1>
                        <p class="leading-relaxed mb-3">{{ product.subtitle }}</p>
                        <div class="flex items-center flex-wrap ">
                            <a href={{ product.get_model_product_url }} class="text-red-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}